@{
    Layout = "_TicketsLayout";
    List<Event> data = ViewData["data"] as List<Event>;
}

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/template/css/bootstrap.min.css">

<!-- FontAwesome CSS -->
<link rel="stylesheet" href="~/template/css/fontawesome-all.min.css">

<!-- Swiper CSS -->
<link rel="stylesheet" href="~/template/css/swiper.min.css">
<link rel="stylesheet" href="~/template/style.css">
<div class="blog-page">

    <div class="page-header" style="background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Events Tickets</h2>

                        <ul class="breadcrumbs flex align-items-center">
                            <li><a href="#">Home</a></li>
                            <li>Tickets</li>
                        </ul><!-- .breadcrumbs -->
                    </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->

    <div class="main-content">
        <div class="container">
            <div class="last-news">
                <div class="entry-header">
                    <div class="entry-title">
                        <p>JUST THE BEST</p>
                        <h2>Our last news</h2>
                    </div><!-- entry-title -->
                </div>

                <div class="row blog-list-page">
                    @foreach (var item in data)
                    {
                        <div class="col-12 col-md-6 single-blog-content">
                            <div class="blog-content">
                                <figure class="featured-image">
                                    <a href="/ticketEvent/@item.ID"> <img src="~/assets/img/@item.imagePath" alt="fesival+celebration"> </a>
                                </figure>

                                <div class="box-link-date">
                                    <a href="">@item.category</a>
                                </div>

                                <div class="entry-content">
                                    <div class="entry-header">
                                        <h2>@item.name</h2>
                                    </div>

                                    <div class="entry-meta">
                                        <span class="author-name"><a href="#">By @item.presenter</a></span>
                                    </div>

                                    <div class="entry-description">
                                        <p>@item.description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div><!-- blog-list-page -->
            </div><!-- last-news -->
        </div><!-- container -->
    </div><!-- main-content -->
</div>
<script type='text/javascript' src='~/template/js/jquery.js'></script>
<script type='text/javascript' src='~/template/js/masonry.pkgd.min.js'></script>
<script type='text/javascript' src='~/template/js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='~/template/js/swiper.min.js'></script>
<script type='text/javascript' src='~/template/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='~/template/js/circle-progress.min.js'></script>
<script type='text/javascript' src='~/template/js/jquery.countTo.min.js'></script>
<script type='text/javascript' src='~/template/js/custom.js'></script>
