@{
  Layout = "_AuthLayout";
}

<div class="auth-content">
  <a href="/" class="logo d-flex align-items-center">
    <img src="~/assets/img/logo.png" alt="">
    <h2 class="d-none d-lg-block">Carthage</h2>
  </a>
  <div class="form-container">
    <form action="" class="form">
      <h3 class="page-title">Sign Up</h3>
      <p>
        Create your personal account.
      </p>
      <div class="input-container">
        <label for="firstName">First name</label>
        <input id="firstName" name="firstName" type="text">
      </div>
      <div class="input-container">
        <label for="lastName">Last name</label>
        <input id="lastName" name="lastName" type="text">
      </div>
      <div class="input-container">
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
      </div>
      <div class="auth-btn-container">
        <button type="submit" class="btn btn-primary auth-btn">Sign up</button>
      </div>
      <div class="line"></div>
      <div class="switch-page">
        <a href="/auth/signin">
          Connect
        </a>
      </div>
    </form>
  </div>
</div>