@{
  Layout = "_AuthLayout";
  var error = TempData["error"];
}

<div class="auth-content">
  <a href="/" class="logo d-flex align-items-center">
    <img src="~/assets/img/logo.png" alt="">
    <h2 class="d-none d-lg-block">Carthage</h2>
  </a>
  <div class="form-container">
    <form asp-controller="auth" asp-action="signinHandle" class="form" method="post">
      <h3 class="page-title">Sign In</h3>
      <p>
        Connect to your account using your credentials.
      </p>
            @if (error != null)
      {
        <p class="error">
          @error
        </p>
      }
      <div class="input-container">
        <label for="email">Email</label>
        <input id="email" name="email" type="email">
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
      </div>
      <div class="auth-btn-container">
        <button type="submit" class="btn btn-primary auth-btn">Sign In</button>
      </div>
      <div class="line"></div>
      <div class="switch-page">
        <a href="/auth/signup">
          Create account
        </a>
      </div>
    </form>
  </div>
</div>