@{
  Layout = "_HomeLayout";
}

<div class="home">
  <div class="thumbnail position-relative">
    <div class="background w-100 h-100 position-absolute top-0"></div>
    <div class="w-100 h-100 d-flex justify-content-center align-items-center thumbnail-content position-relative">
      <div class="thumbnail-date display-grid">
        <span class="number">14</span>
        <div class="line-sm"></div>
        <span class="number">20</span>
        <div class="line-md"></div>
        <span class="number-2">Juil</span>
        <span class="number-2">2023</span>
      </div>
      <div class="home-title">
        <h2 class="lg">International</h2>
        <h2 class="lg">Festival of Carthage.</h2>
        <button class="btn btn-primary but-btn">Buy Tickets</button>
      </div>
    </div>
  </div>
  <div class="about d-flex justify-content-center align-items-center" id="about">
    <div class="view d-flex justify-content-center align-items-center">
      <div class="description w-75">
        <h2 class="lg">A <span class="accent">Festival</span></h2>
        <h2 class="lg">For You.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum sollicitudin diam ac lorem cras tellus
          facilisis ut. Morbi dictum ut sed pellentesque gravida id tristique. Nec vel quis at risus at donec sed.</p>
      </div>
      <div class="cards position-relative w-25">
        <div class="card card-1 position-absolute">
          <p>
            Show
          </p>
        </div>
        <div class="card card-2 position-absolute shadow">
          <p>
            Music & Dance
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="plans d-flex justify-content-center align-items-center" id="plans">
    <div class="view w-100">
      <h2 class="text-center lg">Plans?</h2>
      <div class="plans-list w-100">
        <div class="shadow plan-item">
          <p class="lg title">Eco</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatibus earum! Blanditiis
            distinctio, laborum atque.
          </p>
          <div class="line"></div>
          <p class="lg">10 DNT</p>
        </div>
        <div class="shadow plan-item">
          <p class="lg title">Basic</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatibus earum! Blanditiis
            distinctio, laborum atque.
          </p>
          <div class="line"></div>
          <p class="lg">20 DNT</p>
        </div>
        <div class="shadow plan-item">
          <p class="lg title">Premium</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatibus earum! Blanditiis
            distinctio, laborum atque.
          </p>
          <div class="line"></div>
          <p class="lg">50 DNT</p>
        </div>
      </div>
    </div>
  </div>
</div>